<div class="mycourses-page">

  <div class="container">

      <div class="row">

        <div class="col-sm-3">
          <ul class="mycourses">
            <span *ngFor="let mycourse of courseList">
              <li *ngIf="mycourse.pid == 0" [class.selected]="mycourse.cid == selectcourse.cid" (click)="onSelect(mycourse)">
                <span class="badge">{{ mycourse.clevel }}</span>{{ mycourse.cname }}
                <i class="icon ion-android-lock" *ngIf="onRights(mycourse) == false" ></i>
              </li>
            </span>
          </ul>
        </div>

        <div class="col-sm-6">
          <div *ngIf="selectcourse">
            <span *ngFor="let mycourse of courseList">
              <div style="height: 80px" *ngIf="mycourse.pid == selectcourse.cid">

                <a *ngIf="onRights(mycourse) == true" [routerLink]="['/mycourses', 'course',currentUser.username]" [queryParams]="{ id:mycourse.cid, pid:mycourse.pid,level:mycourse.clevel}">
                  <h5>{{ mycourse.cname }} </h5>
                </a>

                <h5 *ngIf="onRights(mycourse) == false">{{ mycourse.cname }} <i class="icon ion-android-lock" *ngIf="onRights(mycourse) == false"></i></h5>

                <div>{{ mycourse.cdes }}</div>
              </div>
            </span>
          </div>
        </div>
        <div class="col-sm-3"  style="text-align:center;margin-right:-20px" >
          <h5>全勤奖</h5>
          （完成所有主修课小结打卡）
          <br>
          <br>
          <br>
          <div class="fakeimg">图像</div>
          <br>
          <br>
          <br>
          <br>
          <p>小米指尖积木 + Richer老师签名证书</p>
          <br>
          <h5>学习进度</h5>
          <table class="table table-bordered" *ngIf="selectcourse">
            <tbody *ngFor="let mycourse of childcourses; let i = index">
            <tr *ngIf="i % 2 == 0">
              <td width="50%">
                <p>{{ mycourse.cname.substr(0,3) }}</p>
                <div *ngFor="let course of courseList" style="display: inline-block">
                  <span *ngIf="course.pid == mycourse.cid && onPlan(course) == false" >
                    <i class="icon ion-android-lock"></i>&nbsp;&nbsp;
                  </span>
                  <span *ngIf="course.pid == mycourse.cid && onPlan(course) == true" >
                    <i class="icon ion-android-favorite" style="color: red"></i>&nbsp;&nbsp;
                  </span>
                </div>
              </td>
              <td>
                <p>{{ i < childcourses.length - 1 ? childcourses[i + 1].cname.substr(0,3) : "" }}</p>
                <div *ngFor="let course of courseList" style="display: inline-block">
                  <span *ngIf="(i < childcourses.length - 1) && course.pid == childcourses[i + 1].cid && onPlan(course) == false">
                    <i class="icon ion-android-lock"></i>&nbsp;&nbsp;&nbsp;
                  </span>
                  <span *ngIf="(i < childcourses.length - 1) && course.pid == childcourses[i + 1].cid && onPlan(course) == true">
                    <i class="icon ion-android-favorite" style="color: red"></i>&nbsp;&nbsp;
                  </span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>


  </div>

</div>


