<ul class="easyui-tree">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
          教师管理
        <div class="btn-group btn-group-xs" style="float:right;">
          <button type="button" class="btn btn-link btn-xs" (click)="onAdd()">
            <i class="icon ion-ios-plus-outline"></i> 添加
          </button>
        </div>
      </h3>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th  width="10%" style="text-align:center;">编号</th>
        <th style="text-align:center;">姓名</th>
        <th style="text-align:center;">Email</th>
        <th style="text-align:center;">电话</th>
        <th style="text-align:center;">班级数量</th>
        <th width="10%" style="text-align:center;">操作</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let myteacher of teacherList">
          <td style="text-align:center;">{{myteacher.tid}}</td>
          <td style="text-align:center;">{{myteacher.uname}}</td>
          <td style="text-align:center;">{{myteacher.email}}</td>
          <td style="text-align:center;">{{myteacher.phone}}</td>
          <td style="text-align:center;">{{myteacher.rcount}}</td>
          <td style="text-align:center;">
            <button type="button" class="btn btn-link btn-xs" (click)="onDelete(myteacher.tid)">删除</button>
          </td>
        </tr>
    </tbody>

  </table>

</ul>
