<ul class="easyui-tree" *ngIf="currentUser.role == 'teacher' || currentUser.role == 'admin' || currentUser.role == 'super'">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
          {{classroom.rname}}: {{studentname}}作业列表
        <div class="btn-group btn-group-xs" style="float:right;">
          <button type="button" class="btn btn-link btn-xs" (click)="onReturn()">
          <i class="icon ion-ios-redo"></i> 返回
        </button>

        </div>
      </h3>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th  width="10%" style="text-align:center;">编号</th>
        <th width="20%" style="text-align:center;">描述</th>
        <th style="text-align:center;">状态</th>
        <th width="40%" style="text-align:center;">评价</th>
        <th width="20%" style="text-align:center;">操作</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let myhomework of homeworklist">
          <td style="text-align:center;">{{myhomework.hid}}</td>
          <td style="text-align:center;">{{myhomework.hdesc}}</td>
          <td style="text-align:center;">{{myhomework.hstatus}}</td>
          <td>{{myhomework.comment}}</td>
          <td style="text-align:center;">
            <button type="button" class="btn btn-link btn-xs" (click)="onGo(myhomework.uid, myhomework.cid, myhomework.hdesc)">查看作业</button>
            <button type="button" class="btn btn-link btn-xs" (click)="onCommentHomework(myhomework.uid, myhomework.cid)">作业点评</button>
          </td>
        </tr>
    </tbody>

  </table>

</ul>
