<ul class="easyui-tree" *ngIf="currentUser.role == 'teacher' || currentUser.role == 'admin' || currentUser.role == 'super'">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
          {{classroom.rname}} ---- 成员管理
        <div class="btn-group btn-group-xs" style="float:right;">
          <button type="button" class="btn btn-link btn-xs" (click)="onAdd()">
            <i class="icon ion-ios-plus-outline"></i> 添加
          </button>
          <button type="button" class="btn btn-link btn-xs" (click)="onReturn()">
          <i class="icon ion-ios-redo"></i> 返回
        </button>

        </div>
      </h3>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th  width="10%" style="text-align:center;">编号</th>
        <th style="text-align:center;">姓名</th>
        <th style="text-align:center;">Email</th>
        <th style="text-align:center;">电话</th>
        <th width="25%" style="text-align:center;">操作</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let mystudent of studentList">
          <td style="text-align:center;">{{mystudent.sid}}</td>
          <td style="text-align:center;">{{mystudent.uname}}</td>
          <td style="text-align:center;">{{mystudent.email}}</td>
          <td style="text-align:center;">{{mystudent.phone}}</td>
          <td style="text-align:center;">
            <button type="button" class="btn btn-link btn-xs" (click)="onManagerHomework(mystudent.uid,mystudent.uname)">作业管理</button>
            <button type="button" class="btn btn-link btn-xs" (click)="onDelete(mystudent.sid)">移除班级</button>
          </td>
        </tr>
    </tbody>

  </table>

</ul>
