<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      课程所在位置 : {{mypath}}
    </h3>
  </div>
</div>

<form class="form-horizontal" role="form"  *ngIf="currentUser.role == 'teacher' || currentUser.role == 'admin' || currentUser.role == 'super'">

  <div class="form-group">
		<div class="col-sm-12">
			<input #course_cid class="form-control" id="cid" type="text" value="{{newcid}}" disabled="disabled">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<input #course_name class="form-control" id="cname" type="text"  placeholder="课程名称">
		</div>
	</div>

  <div class="form-group">
		<div class="col-sm-12">
			<textarea #course_desc class="form-control" rows="6" placeholder="课程描述"></textarea>
		</div>
	</div>

  <div class="form-group">
    <div class="col-sm-12" style="text-align: center">
      <button type="button" class="btn btn-primary btn-sm" (click) = "onAdd(course_cid.value*1 , course_name.value, course_desc.value)">添加</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary btn-sm" (click) = "onReturn()" >取消</button>
    </div>
  </div>

</form>
