<ul class="easyui-tree">



  <table class="table table-striped">
    <thead>
      <tr>
        <th  width="10%">编号</th>
        <th>课程名称</th>
        <th colspan="2" width="10%">操作</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let mycourse of courseList">
          <td *ngIf="mycourse.pid == 0">{{mycourse.cid}}</td>
          <td *ngIf="mycourse.pid == 0">L{{mycourse.cid}} {{mycourse.cname}}</td>
          <td *ngIf="mycourse.pid == 0" (click)="onAdd(0,0,0,mycourse.cid)">管理 <i class="icon ion-compose"></i></td>
        </tr>
    </tbody>

  </table>

</ul>
