<nav class="navbar navbar-light navbar-default" role="navigation">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Smart 少儿编程</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          <i class="ion-home"></i>
          首页
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          <i class="ion-person"></i>
          登录
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">


      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="ion-home"></i>
          首页
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/mycourses', currentUser.username]"
          routerLinkActive="active">
          <i class="ion-calendar"></i>
          我的课程
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/homework', currentUser.username]"
          routerLinkActive="active">
          <i class="ion-clipboard"></i>
          我的作业
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" style="cursor:pointer" (click)="onGo()">
          <i class="ion-compose"></i>&nbsp;自由创作
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role == 'teacher' || currentUser.role == 'admin' || currentUser.role == 'super'">
        <a class="nav-link"
          [routerLink]="['/admin', currentUser.username]"
          routerLinkActive="active">
          <i class="icon ion-gear-a"></i>
          后台管理
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic"/>
          {{ currentUser.username }}
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ><a class="icon ion-person"  [routerLink]="['/profile', currentUser.username]" routerLinkActive="active"> 信息</a></li>
          <li ><a class="icon ion-settings" routerLink="/settings" routerLinkActive="active">&nbsp;设置</a></li>
          <li><a class="icon ion-power" (click)="logout()">&nbsp;退出</a></li>
        </ul>
      </li>

    </ul>

  </div>
</nav>

