<div class="home-page">

  <!--div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">孩子的第一堂编程课</h1>
      <li>让孩子更聪明，轻松赢在起跑线上</li>
      <li>适用于6~12岁的小学生</li>
      <li>锻炼孩子的逻辑思维</li>
      <li>IT大咖亲自授课</li>
    </div>
  </div!-->
  <div class="banner" >
    <div class="container">
      <span class="container col-sm-9">
        <h1 class="logo-font" style="text-align:left;">孩子们的第一堂编程课</h1>
        <br>
        <br>
        <li>让孩子更聪明，轻松赢在起跑线上</li>
        <br>
        <li>适用于6~12岁的小学生</li>
        <br>
        <li>锻炼孩子的逻辑思维</li>
        <br>
        <li>IT大咖亲自授课</li>
        <br>
      </span>
      <span class="container col-sm-3">
        <br><br><br><br><br>
        <br><br><br><br><br>
        <button type="button" class="btn btn-info btn-lg">立即报名</button>
      </span>
    </div>

  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">

      </div>

      <div class="col-md-3">

      </div>

    </div>
  </div>
</div>
